body{
  margin: 0%;
}



#page{

  display: none;

}


@media(min-width: 1110px){

#page1{

  position: absolute;

  background-color: black;
  background-image: conic-gradient( white, black, grey);


  width:100%;
  height:100%;
  animation-name: back;
  animation-duration: 14s;

}



  @keyframes back {
    from{background-image: none;}
    to{background-image: conic-gradient( white, black, grey);}
}



#page2{


  border-top: 1px solid black;

  position:absolute;
  top: 100%;

  width:100%;
  height:100%;



background-image: conic-gradient(rgb(235, 109, 109),white,orange);



  animation-name: back2;
  animation-duration: 14s;

}

  @keyframes back2 {
    from{background-image: none;}
    to{background-image: conic-gradient(rgb(235, 109, 109),white,orange);}
}






#name{

  color: rgb(231, 224, 224);
  font-family: "Wellfleet", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 3px 2px black ;

  font-size: 500%;

  position: absolute;
  top: 42%;
  left: 3%;


  animation-name: namein;
  animation-duration: 4.15s;

}
@keyframes namein{
  from{color: black;  opacity: 0.1;}
  to{color: rgb(231, 224, 224);  opacity: 1.0;}

}




#iam{
  color:white;

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 250%;
  text-shadow:2px 2px black;

  position: absolute;
  top: 33%;
  left: 40%;


  animation-name: namein;
  animation-duration: 4.15s;

}
@keyframes namein{
  from{color: black;  opacity: 0.1;}
  to{color:white;  opacity: 1.0;}
}

#wd{

 color: rgb(132, 132, 132);

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 300%;

  position: absolute;
  top: 50%;
  left:3%;

  text-shadow: 3px 2px black ;


  animation-name: namein;
  animation-duration: 4.15s;

}
@keyframes namein{
  from{color: black;  opacity: 0.1;}
  to{ color: rgb(132, 132, 132);  opacity: 1.0; }
}





#mainImage>img{

  display: none;
  background-image: radial-gradient(circle,black,grey,white);

  height: 55%;
  border-radius: 20px;
  filter: drop-shadow(12px 15px 10px black);
  position: absolute;
  top: 3%;
  left: 66%;

  opacity: 1.0;

  transition: height 1s;

}

#mainImage>img:hover{

  height:60%;

}


#mainImage2>img{

  display: none;

  border: 1px solid white;
  opacity: 0.9;


background-image: conic-gradient(white,rgb(235, 109, 109) ,orange,white );

  height: 55%;
  border-radius: 20px;
  filter: drop-shadow(12px 8px 10px white);
  position: absolute;
  top: 17%;
  left: 7%;

 transition: height 1s;

}

#mainImage2>img:hover{

  height:60%;

}





#line{

  display: block;

  height:50%;
  width: 1px;
  background-color: white;
  z-index: 1;

  border-radius: 30px;
  box-shadow: 1px 1px 1px 2px white;


  position: absolute;
  top: 50%;
  left:50%;
  filter: drop-shadow(12px 15px 12px white);

  transform-origin: top center;
  transform: rotate(-180deg);

  animation-name: rotate;
  animation-duration: 4s;

}

@keyframes rotate {
  from{top: 50%;  left:50%; transform: rotate(0deg);}
  to{top: 50%;  left:50%; transform: rotate(-180deg);}
}




#line2{

  display: block;

  height:50%;
  width: 1px;
  background-color: white;
  z-index: 1;

  border-radius: 50px;
  box-shadow: 1px 1px 1px 2px white;

  position: absolute;
  top: 0%;
  left:50%;
  filter: drop-shadow(12px 15px 12px white);

  transform-origin: bottom center;

  transform: rotate(-180deg);

  animation-name: rotate2;
  animation-duration: 4s;
}

@keyframes rotate2 {
  from{top: 0%;  left:50%;transform: rotate(0deg);}
  to{top: 0%;  left:50%;transform: rotate(-180deg);}
}





#switch>p{

  z-index: 2;

  color: grey;
  font-size: 30px;

display: block;
  height: 50px;

  position: absolute;
  top: 65%;
  left: 70%;


}



#switch>img {

  z-index: 2;

  display: block;
  height: 50px;

  position: absolute;
  top: 75%;
  left: 77%;


  box-shadow: 1px 1px 1px 2px grey;

}






#at{

  z-index: 2;
  writing-mode: vertical-lr;
  text-orientation: upright;

  position: absolute;
  top: 60%;
  left: 45.8%;

  font-size: 250%;
  text-shadow: 3px 2px rgb(224, 223, 223) ;
  animation-name: atin;
  animation-duration: 15s;

}
@keyframes atin{
  from{text-shadow: none;}
  to{text-shadow: 3px 2px rgb(224, 223, 223) ;}
}


#atp{

  border: 0.1px solid black;

  background-color: white;
  opacity: 0.8;

  position: absolute;
  top: 20%;
  left: 60%;

  padding: 20px;
  border-radius: 10px;

  animation-name: namein;
  animation-duration: 4.15s;


}



}

@media(max-width: 1111px){


#page1{

  position: absolute;

  background-color: black;
  background-image: conic-gradient( from -90deg,white, black, grey);


  width:100%;
  height:100%;
  animation-name: back;
  animation-duration: 14s;

}



  @keyframes back {
    from{background-image: none;}
    to{background-image: conic-gradient( from -90deg, white, black, grey);}
}



#page2{


  border-top: 1px solid black;

  position:absolute;
  top: 100%;

  width:100%;
  height:100%;



background-image: conic-gradient(from -90deg,rgb(235, 109, 109),white,orange);



  animation-name: back2;
  animation-duration: 14s;

}

  @keyframes back2 {
    from{background-image: none;}
    to{background-image: conic-gradient(from -90deg,rgb(235, 109, 109),white,orange);}
}





#name{

  color: rgb(195, 194, 194);
  font-family: "Wellfleet", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 1px black ;

  font-size: 280%;

  position: absolute;
  top: 65%;
  right: 5%;


  animation-name: namein;
  animation-duration: 4.15s;

}
@keyframes namein{
  from{color: black;  opacity: 0.1;}
  to{color: rgb(231, 224, 224);  opacity: 1.0;}

}


#iam{
  color:white;

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 200%;
  text-shadow:2px 2px black;

  position: absolute;
  top: 56%;
  right: 33%;


  animation-name: namein;
  animation-duration: 4.15s;

}
@keyframes namein{
  from{color: black;  opacity: 0.1;}
  to{color:white;  opacity: 1.0;}
}

#wd{

 color: rgb(71, 70, 70);

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  text-shadow:2px 1px white;

  position: absolute;
  top: 67%;
  right: 5%;



  animation-name: namein;
  animation-duration: 4.15s;

}
@keyframes namein{
  from{color: black;  opacity: 0.1;}
  to{ color: rgb(132, 132, 132);  opacity: 1.0; }
}





#mainImage>img{

  display: none;
  background-image: radial-gradient(circle,black,grey,white);

  height: 40%;
  border-radius: 20px;
  filter: drop-shadow(12px 15px 10px black);
  position: absolute;
  top: 5%;
  left: 2%;

  opacity: 1.0;

  transition: height 1s;

}

#mainImage>img:hover{

  height:43%;

}


#mainImage2>img{

  display: none;

  border: 1px solid white;
  opacity: 0.9;


background-image: conic-gradient(white,rgb(235, 109, 109) ,orange,white );

  height: 40%;
  border-radius: 20px;
  filter: drop-shadow(12px 8px 10px white);
  position: absolute;
  top: 3%;
  right: 3%;

 transition: height 1s;

}

#mainImage2>img:hover{

  height:43%;

}





#line{

  display: block;

  height:30%;
  width: 1px;
  background-color: white;
  z-index: 1;

  border-radius: 30px;
  box-shadow: 1px 1px 1px 2px white;


  position: absolute;
  top: 50%;
  left:50%;
  filter: drop-shadow(12px 15px 12px white);

  transform-origin: top center;
  transform: rotate(90deg);

  animation-name: rotate;
  animation-duration: 4s;

}

@keyframes rotate {
  from{top: 50%;  left:50%; transform: rotate(-90deg);}
  to{top: 50%;  left:50%; transform: rotate(90deg);}
}




#line2{

  display: block;

  height:30%;
  width: 1px;
  background-color: white;
  z-index: 1;

  border-radius: 50px;
  box-shadow: 1px 1px 1px 2px white;

  position: absolute;
  top: 20%;
  left:50%;
  filter: drop-shadow(12px 15px 12px white);

  transform-origin: bottom center;

  transform: rotate(90deg);

  animation-name: rotate2;
  animation-duration: 4s;
}

@keyframes rotate2 {
  from{  left:50%;transform: rotate(-90deg);}
  to{ left:50%;transform: rotate(90deg);}
}



#switch{

  display: inline;
}

#switch>p{

  z-index: 2;

  color: grey;
  font-size: 30px;


  position: absolute;
  top: 60%;
  left: 70%;


}



#switch>img {

  z-index: 2;

  display: block;
  height: 5%;

  position: absolute;
  top: 75%;
  left: 77%;


  box-shadow: 1px 1px 1px 2px grey;

}






#at{

  z-index: 2;

  position: absolute;
  top: 42%;
  left: 65%;

  font-size: 250%;
  text-shadow: 3px 2px rgb(224, 223, 223) ;
  animation-name: atin;
  animation-duration: 15s;

}
@keyframes atin{
  from{text-shadow: none;}
  to{text-shadow: 3px 2px rgb(224, 223, 223) ;}
}


#atp{

  border: 0.1px solid black;

  background-color: white;
  opacity: 0.8;

  position: absolute;
  top: 60%;
  left: 3%;

  padding: 20px;
  border-radius: 10px;

  animation-name: namein;
  animation-duration: 4.15s;


}






}
